@import "svttextstyle";
@import "custom-svttextstyle";

:host {
    color: #fff;
}

.html-content-wrapper {
    background-color: #000;
    height: 100%;
    min-height: 380px;
    overflow-y: auto;
}

