.root a { color: #FFF; }
.BK, .BK a, .BK a:visited, .BK a:visited:hover { color: #000;}
.bgBK { background-color: #000;}
.C, .C a, .C a:visited, .C a:visited:hover {color: #0FF;}
.bgC { background-color: #0FF;}
.G, .G a, .G a:visited, .G a:visited:hover {color: #0F0;}
.bgG { background-color: #0F0;}
.M, .M a, .M a:visited, .M a:visited:hover {color: #F0F;}
.bgM { background-color: #F0F;}
.R, .R a, .R a:visited, .R a:visited:hover { color: #F00;}
.bgR { background-color: #F00;}
.W, .W a, .W a:visited, .W a:visited:hover { color: #FFF;}
.bgW { background-color: #FFF;}
.Y, .Y a, .Y a:visited, .Y a:visited:hover { color: #FF0;}
.bgY { background-color: #FF0;}
.B, .B a, .B a:visited, .B a:visited:hover { color: #00F;}
.bgB { background-color: #00F;}

main > div {
    text-align: center;
}
pre.root {
    // font-family: "Droid Sans Mono", monospace;
    // font-family: "Fira Mono", monospace;
    // font-family: "Roboto Mono", monospace;
    // font-family: "Ubuntu Mono", monospace;
    // font-family: "Consolas", "Inconsolata", monospace;
    font-family: "Inconsolata", monospace;
    line-height: initial;
    user-select: text; 
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    image-rendering: pixelated;
    margin: 1em 0 0 -8px;
    letter-spacing: 0.5px;
    line-height: 17px;
}
pre.root:first-child {
    margin-top: 1em;
}
pre.root span {
    display: inline-block;
    height: 17px;
    line-height: 17px;
}
pre.root .DH {
    height: initial;
    line-height: initial;
}
pre.root a.clicked,
pre.root a:active {
    //color: #FFF !important;
    background-color: #92bfeb6b;
}

/* #region Theme double height titles */
.double-height-titles pre.root .DH {
    display: inline-block;
    font-size: inherit;
    letter-spacing: inherit;
    height: 34px;
}
.double-height-titles pre.root .DH > .SC {
    display: inline-block;
    transform: scale(1,2);
    transform-origin: top;
    font-size: inherit;
}
/* #endregion Theme double height titles */

/* #region Theme normal size titles */
.bold-titles pre.root .DH,
.bold-titles pre.root .DH > .SC {
    font-size: inherit;
    letter-spacing: inherit;
    font-weight: bold;
    position: relative;
}
.bold-titles pre.root .DH > .SC {
    top: 0.5em;
}
/* #endregion Theme normal size titles */

/* #region Font specific styling */
div.font_droid_sans_mono pre.root {
    font-family: "Droid Sans Mono", monospace;
}
div.font_inconsolata pre.root {
    font-family: "Inconsolata", monospace;
}
div.font_fira_mono pre.root {
    font-family: "Fira Mono", monospace;
}
div.font_roboto_mono pre.root {
    font-family: "Roboto Mono", monospace;
}
div.font_ubuntu_mono pre.root {
    font-family: "Ubuntu Mono", monospace;
}
/* #endregion Font specific styling */