@import './variables.scss';

/*#region Common styles for all Themes */
pre.root {
    background-color: $dark-background-color;
    margin: 0 auto 0 -8px;
    width: auto;
    user-select: text;
    overflow: hidden; 
    padding: 1em 0 0 0;
    border-bottom: 1em solid $dark-background-color;
    
    //filter: initial;
    // span.B, span.bgB {
    //     filter: hue-rotate(-38deg) brightness(1.3);
    // }
}
span.W,span.B,span.Y,span.BK,span.G,span.C,span.R {
    position: relative;
    z-index: 2;
}
pre.root span {
    /*background-repeat: no-repeat !important;*/
    image-rendering: pixelated !important;
    background-size: 100% 100% !important;
}
pre.root a:active {
    background-color: #92bfeb6b;
}

.error-message {
    text-align: center;   
}

@media(max-width: 700px), (max-height: 600px) {
    pre.root:first-of-type {
        padding-top: 2px;
    }
}
/* #endregion Common styles for all Themes */

/* #region Additional settings */
.background-no-repeat pre.root span {
    background-repeat: no-repeat !important;
}
/* #endregion Additional settings */

/* #region Default SVT Theme */
pre.root {
    font-family: "Consolas", "Inconsolata", monospace;
    line-height: initial;
    letter-spacing: 1.2px;
}
.DH {
    line-height: initial;
    letter-spacing: -1.8px;
}
/* #endregion Default SVT Theme */

/* #region Theme double height titles */
.double-height-titles pre.root {
    line-height: 15.2px;
    letter-spacing: 0.5px;
}
.double-height-titles pre.root span {
    display: inline-block;
    height: 15.2px;
    line-height: 15.2px;
}
.double-height-titles pre.root .DH {
    display: inline-block;
    font-size: inherit;
    letter-spacing: 0.5px;
    height: 30.4px;
}
.double-height-titles pre.root .DH > .SC {
    display: inline-block;
    transform: scale(1,2);
    transform-origin: top;
    font-size: inherit;
    letter-spacing: 0.5px;
}
/* #endregion Theme double height titles */

/* #region Theme normal size titles */
.normal-size-titles pre.root .DH,
.normal-size-titles pre.root .DH > .SC {
    font-size: inherit;
    letter-spacing: inherit;
}
/* #endregion Theme normal size titles */

/* #region Font specific styling */
div.font_droid_sans_mono pre.root {
    font-family: "Droid Sans Mono", monospace;
}
div.font_vt323 pre.root {
    font-family: "Inconsolata", monospace;
}
div.font_fira_mono pre.root {
    font-family: "Fira Mono", monospace;
}
div.font_roboto_mono pre.root {
    font-family: "Roboto Mono", monospace;
}
div.font_vt323 pre.root {
    font-family: "VT323", monospace;
}

div.font_droid_sans_mono,
div.font_fira_mono,
div.font_roboto_mono,
div.font_vt323 {
    pre.root {
        line-height: 17px;
        letter-spacing: 0.5px;
        margin-left: -9px;
    }
    pre.root .DH {
        letter-spacing: -2.6px;
        height: initial;
        line-height: initial;
    }
    pre.root span {
        display: inline-block;
        height: 17px;
        line-height: 17px;
    }
    .double-height-titles pre.root .DH {
        display: inline-block;
        font-size: inherit;
        letter-spacing: inherit;
        height: 34px;
    }
    .normal-size-titles pre.root .DH,
    .normal-size-titles pre.root .DH > .SC {
        letter-spacing: inherit;
    }
}

div.font_vt323 {
    pre.root {
        font-size: 18px;
        line-height: 17px;
        letter-spacing: 1.8px;
        margin-left: -9px;
    }
    pre.root .DH {
        letter-spacing: -1.4px;
        font-size: 26px;
    }
    .normal-size-titles pre.root .DH,
    .normal-size-titles pre.root .DH > .SC,
    .double-height-titles pre.root .DH,
    .double-height-titles pre.root .DH > .SC {
        font-size: 18px;
        letter-spacing: 1.8px;
    }
}
/* #endregion Font specific styling */