@import '../../../../../styles/variables.scss';

.app-root {
    background-color: $dark-background-color;
    .renderer-wrapper {
        overflow-y: auto;
        overflow-x: hidden;
        flex: 1;
        display: flex;
    }

    .inner-renderer-wrapper {
        position: relative;
        margin: 16px auto 0 auto;
    }
    
    app-loading-overlay {
        position: absolute;
        top: 0;
        left: 0;
    }
}

.app-root.env-web {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #fff;

    .app-main {
        flex: 1 1 auto;
        overflow: hidden;
        position: relative;
        display: flex;
        user-select: text;
    }
    
    .app-footer {
        flex: 0 0 $footer-height-lg;
    }

    .inner-renderer-wrapper {
        max-width: 665px;
        min-width: 665px;
    }
}

.app-root.env-android {
    display: block;
    min-height: 100vh;
    
    .app-main {
        user-select: text;
        min-height: calc(100vh - $footer-height-lg);
        margin-bottom: $footer-height-lg;
    }
    
    .app-footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: $footer-height-lg;
    }
    
    app-loading-overlay {
        position: fixed;
        height: calc(100vh - $footer-height-lg);
    }

    .inner-renderer-wrapper {
        min-width: initial;
        max-width: initial;
        width: 100%;
    }
}

@media (max-width: 700px) {
    .app-root {
        .app-main {
            display: flex;
        }
        
        .inner-renderer-wrapper {
            min-width: initial;
            max-width: initial;
            width: 100%;
            display: flex;
            flex: 1;
            margin: 0 auto 0 auto;
        }
    
        .zoom-container {
            flex: 1;
        }
    }
    .app-root.env-web {
        .app-footer {
            flex: 0 0 $footer-height-sm;
        }
    }
    .app-root.env-android {
        
        .app-main {
            user-select: text;
            min-height: calc(100vh - #{$footer-height-sm});
            margin-bottom: $footer-height-sm;
        }
        
        .app-footer {
            height: $footer-height-sm;
        }

        app-loading-overlay {
            height: calc(100vh - #{$footer-height-sm});
        }
    }
}

@media screen and (orientation: landscape) and (max-height: 450px) {
    .app-root.env-android.landscape {

        .app-main {
            min-height: 100vh;
            margin-bottom: 0;
            margin-right: $footer-width-landscape;
        }
    
        .app-footer {
            bottom: 0;
            left: initial;
            right: 0;
            top: 0;
            width: $footer-width-landscape;
            height: 100vh;
        }
        
        app-loading-overlay {
            height: 100vh;
            margin-right: $footer-width-landscape;
        }
    }
}

@media screen and (orientation: landscape) and (max-height: 600px) {
    .app-root.env-android.landscape .inner-renderer-wrapper {
        margin-top: 0;
    }
}