<div [ngClass]="['app-root', envClass, orientationClass, fontClass, viewModeClass, preferences?.backgroundNoRepeat ? 'background-no-repeat' : 'background-repeat']" (window:resize)="windowSizeChanged()">
  <div class="app-main">
    <div #scrollWrapper class="renderer-wrapper">
      <div #wrapper class="inner-renderer-wrapper">
        <div class="zoom-container" [ngStyle]="style">
          <app-swipe-container (pageChange)="swipe($event)" [disabled]="swipeDisabled" [animationDisabled]="swipeAnimationDisabled">
            <app-renderer [htmlContent]="textTvPage?.htmlContent" [theme]="renderTheme" (linkClick)="onLinkClick($event)"></app-renderer>
          </app-swipe-container>
        </div>
      </div>
    </div> 
    <app-loading-overlay *ngIf="showLoadingOverlay"></app-loading-overlay>
  </div>
  <div class="app-footer">
    <app-menu-bar [page]="pageNumber" [direction]="menuDirection" (pageChange)="pageChange($event)" (refreshClick)="refresh()" (nextClick)="next()" (prevClick)="prev()" (settingsClick)="openSettings()"></app-menu-bar>
  </div>
</div>
<div class="splash-overlay" *ngIf="!init"></div>