.app-root {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #fff;
}

.app-main {
    flex: 1 1 auto;
    overflow: hidden;
    position: relative;
    display: flex;
}

.app-footer {
    flex: 0 0 52px;
}

.renderer-wrapper {
    overflow-y: auto;
    flex: 1;
    display: flex;
}

.inner-renderer-wrapper {
    max-width: 665px;
    min-width: 665px;
    margin: 16px auto 0 auto;
    position: relative;
}

app-loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
}

@media (max-width: 665px) {
    .inner-renderer-wrapper {
        min-width: 100%;
        max-width: 100%;
        margin: 0 auto 0 auto;
    }
}

@media (max-width: 700px) {
    .app-root {
        background-color: #000;
    }
    .app-main {
        margin-top: 0;
        display: flex;
    }
    
    .inner-renderer-wrapper {
        display: flex;
        flex: 1;
    }

    .zoom-container {
        flex: 1;
    }
}