pre.root {
    background-color: #000;
    line-height: initial;
    margin: 0 auto 0 -10px;
    width: auto;
    letter-spacing: 1.2px;
    font-family: "Inconsolata", monospace;
    user-select: text;
}
span {
    image-rendering: pixelated !important;
}
span.W,span.B,span.Y,span.BK,span.G,span.C,span.R {
    position: relative;
    z-index: 2;
}
pre.root span::after {
    content: "";
    position: absolute;
    right: -1px;
    top: 1;
    bottom: -1px;
    left: 1;
    background: inherit;
    z-index: -1;
}
pre.root span {
    background-repeat: no-repeat !important;
}
pre.root a:active {
    background-color: #92bfeb6b;
}
.DH {
    line-height: initial;
    letter-spacing: -1.8px;
}

.error-message {
    text-align: center;   
}

@media(max-width: 600px) {
    pre.root:first-of-type {
        padding-top: 2px;
    }
}