@import './variables.scss';

pre.root {
    background-color: $dark-background-color;
    line-height: initial;
    margin: 0 auto 0 -8px;
    width: auto;
    letter-spacing: 1.2px;
    font-family: "Inconsolata", monospace;
    user-select: text;
    overflow: hidden; 
    padding: 1em 0 0 0;
    border-bottom: 1em solid $dark-background-color;
}
span.W,span.B,span.Y,span.BK,span.G,span.C,span.R {
    position: relative;
    z-index: 2;
}
pre.root span {
    /*background-repeat: no-repeat !important;*/
    image-rendering: pixelated !important;
}
pre.root a:active {
    background-color: #92bfeb6b;
}
.DH {
    line-height: initial;
    letter-spacing: -1.8px;
}

.error-message {
    text-align: center;   
}

@media(max-width: 700px), (max-height: 600px) {
    pre.root:first-of-type {
        padding-top: 2px;
    }
}

.background-no-repeat pre.root span {
    background-repeat: no-repeat !important;
}

/* Theme double height titles */
.double-height-titles pre.root {
    line-height: 15.2px;
}
.double-height-titles pre.root span {
    display: inline-block;
    height: 15.2px;
    line-height: 15.2px;
}
.double-height-titles pre.root .DH {
    display: inline-block;
    font-size: inherit;
    letter-spacing: inherit;
    //border-bottom: 1em solid $dark-background-color;
    height: 30.4px;
}
.double-height-titles pre.root .DH > .SC {
    display: inline-block;
    transform: scale(1,2);
    transform-origin: top;
    font-size: inherit;
    letter-spacing: inherit;
}

/* Theme normal size titles */
.normal-size-titles pre.root .DH {
    font-size: inherit;
    letter-spacing: inherit;
    letter-spacing: inherit;
}
.normal-size-titles pre.root .DH > .SC {
    font-size: inherit;
    letter-spacing: inherit;
    letter-spacing: inherit;
}

/* Font specific styling */
div.font_inconsolata {
    pre.root {
        font-family: "Inconsolata", monospace;
    }
} 

div.font_droid_sans_mono {
    pre.root {
        font-family: "Droid Sans Mono", monospace;
        line-height: 17px;
        letter-spacing: 1px;
        margin-left: -9px;
    }
    pre.root .DH {
        letter-spacing: -2.6px;
    }
    .double-height-titles pre.root span {
        display: inline-block;
        height: 17px;
        line-height: 17px;
    }
    .double-height-titles pre.root .DH {
        display: inline-block;
        font-size: inherit;
        letter-spacing: inherit;
        height: 34px;
    }
}

div.font_fira_mono {
    pre.root {
        font-family: "Fira Mono", monospace;
        line-height: 17px;
        letter-spacing: 1px;
        margin-left: -9px;
    }
    pre.root .DH {
        letter-spacing: -2.6px;
    }
    .double-height-titles pre.root span {
        display: inline-block;
        height: 17px;
        line-height: 17px;
    }
    .double-height-titles pre.root .DH {
        display: inline-block;
        font-size: inherit;
        letter-spacing: inherit;
        height: 34px;
    }
}

div.font_roboto_mono {
    pre.root {
        font-family: "Roboto Mono", monospace;
        line-height: 17px;
        letter-spacing: 1px;
        margin-left: -9px;
    }
    pre.root .DH {
        letter-spacing: -2.6px;
    }
    .double-height-titles pre.root span {
        display: inline-block;
        height: 17px;
        line-height: 17px;
    }
    .double-height-titles pre.root .DH {
        display: inline-block;
        font-size: inherit;
        letter-spacing: inherit;
        height: 34px;
    }
}

div.font_vt323 {
    pre.root {
        font-family: "VT323", monospace;
        font-size: 18px;
        line-height: 17px;
        letter-spacing: 1.8px;
        margin-left: -9px;
    }
    pre.root .DH {
        letter-spacing: -1.4px;
        font-size: 26px;
    }
    .double-height-titles pre.root span {
        display: inline-block;
        height: 17px;
        line-height: 17px;
    }
    .double-height-titles pre.root .DH {
        display: inline-block;
        font-size: inherit;
        letter-spacing: inherit;
        height: 34px;
    }
}
