$dark-background-color: #030303;

$footer-height-lg: 64px;
$footer-height-sm: 56px;
$footer-width-landscape: 78px;

$menu-bg-color: #161a1b; /*#222327*/; /*#333;*/
$menu-item-active-bg-color: #7b7b7b;
$menu-item-hover-bg-color: $menu-bg-color;