<div class="menu-container">
  <!--<div class="menu-item" matRipple [matRippleCentered]="true">
    <a class="menu-action-btn" title="Mer" (click)="settings()"><mat-icon svgIcon="settings"></mat-icon></a>
  </div>-->
  <div class="menu-item">
    <button mat-button class="menu-action-btn" title="Föregående" (click)="prev()"><i class="material-icons">keyboard_arrow_left</i></button>
  </div>
  <div class="menu-item">
    <app-page-number-input [(page)]="page" (pageChange)="pageInputChange($event)"></app-page-number-input>
  </div>
  <div class="menu-item">
    <button mat-button class="menu-action-btn" title="Nästa" (click)="next()"><i class="material-icons">keyboard_arrow_right</i></button>
  </div>
  <!--<div class="menu-item" matRipple [matRippleCentered]="true">
    <a class="menu-action-btn" title="Uppdatera" (click)="refresh()"><mat-icon svgIcon="refresh"></mat-icon></a>
  </div>-->
</div>
