$menu-bg-color: #222327; /*#333;*/
$menu-item-active-bg-color: #7b7b7b;
$menu-item-hover-bg-color: $menu-bg-color;

:host {
    background-color: $menu-bg-color;
    display: block;
    margin: 0;
    padding: 0;
    user-select: none;
}

.menu-container {
    display: flex;
    margin: auto;
    max-width: 665px;
    height: 52px;
}

.menu-item {
    flex: 1 1 0;
    color: #fafafa;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.menu-item > .menu-action-btn {
    padding: 8px;
    background-color: inherit;
    border: 0;
    color: inherit;
    font-size: 18px;
    height: 100%;
    text-transform: uppercase;
    cursor: pointer;
    background-color: transparent;
    border-radius: 0;
}

.menu-item > .menu-action-btn .material-icons {
    font-size: 32px;
}