@import '../../../../../styles/variables.scss';

:host {
    background-color: $menu-bg-color;
    display: block;
    margin: 0;
    padding: 0;
    user-select: none;
}

.menu-container {
    display: flex;
    margin: auto;
    max-width: 665px;
    height: $footer-height-lg;
}

.menu-item > .menu-action-btn.prev-arrow-down, 
.menu-item > .menu-action-btn.next-arrow-up {
    display: none;
}

.menu-item {
    flex: 2 1 0;
    color: #fafafa;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 0;
    overflow: hidden;
}

.menu-item > .menu-action-btn {
    padding: 8px;
    background-color: inherit;
    border: 0;
    color: inherit;
    font-size: 18px;
    height: 100%;
    text-transform: uppercase;
    cursor: pointer;
    background-color: transparent;
    border-radius: 0;
}

.menu-item > .menu-action-btn .material-icons {
    font-size: 32px;
}

.menu-container-main {
    display: flex;
    flex: 1 1 auto;
}
.menu-item.small {
    // flex: 0 0 50px;
    > .menu-action-btn i.material-icons {
        font-size: 28px;
    }
}

@media screen and (orientation: landscape) {
    .menu-container.vertical {
        display: flex;
        margin: auto;
        max-width: initial;
        width: $footer-width-landscape;
        height: 100vh;
        flex-direction: column-reverse;
    
        .menu-item {
            width: initial;
        }
        
        /*.menu-item > .menu-action-btn.prev-arrow-down, 
        .menu-item > .menu-action-btn.next-arrow-up {
            display: initial;
        }
        .menu-item > .menu-action-btn.prev-arrow-left, 
        .menu-item > .menu-action-btn.next-arrow-right {
            display: none;
        }*/
    }
}

@media screen and (orientation: landscape) and (max-height: 200px) {
    .menu-container.vertical.page-input-focused .menu-item:not(.page-number-item) {
        display: none;
    }
}

@media (max-width: 700px)  {
    .menu-container {
        height: $footer-height-sm;
    }
}
