:host {
    background-color: var(--menu-background-color);
    display: block;
    margin: 0;
    padding: 0;
    user-select: none;
    height: var(--footer-height-sm); 
}

mat-toolbar.mat-toolbar {
    padding: 0;
}

.menu-container {
    flex: 1;
    display: flex;
    margin: auto;
    max-width: 665px;
    height: 100%;
}

.menu-item > .menu-action-btn.prev-arrow-down, 
.menu-item > .menu-action-btn.next-arrow-up {
    display: none;
}

.menu-item {
    flex: 1 1 0;
    color: var(--menu-text-color);
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 0;
    overflow: hidden;
    position: relative; 
}

.menu-item > .menu-action-btn {
    padding: 8px;
    background-color: inherit;
    border: 0;
    color: inherit;
    font-size: 18px;
    height: 100%;
    text-transform: uppercase;
    cursor: pointer;
    background-color: transparent;
    border-radius: 0;
    user-select: none;
    outline: none;
}

.menu-item > .menu-action-btn .material-icons {
    font-size: 32px;
}

.menu-container.vertical {
    display: flex;
    margin: auto;
    max-width: initial;
    width: 78px;
    height: 100vh;
    flex-direction: column-reverse;

    .menu-item {
        width: initial;
    }
    
    /*.menu-item > .menu-action-btn.prev-arrow-down, 
    .menu-item > .menu-action-btn.next-arrow-up {
        display: initial;
    }
    .menu-item > .menu-action-btn.prev-arrow-left, 
    .menu-item > .menu-action-btn.next-arrow-right {
        display: none;
    }*/
}

@media screen and (orientation: landscape) and (max-height: 200px) {
    .menu-container.vertical.page-input-focused .menu-item:not(.page-number-item) {
        display: none;
    }
}
