<div class="bottom-sheet-header">
    <h1>Information</h1>
    <a href (click)="close($event)"><mat-icon>close</mat-icon></a>
</div>
<p>Den här appen är anpassad för att läsa innehåll från <a href="https://www.svt.se/text-tv">SVT Text<mat-icon class="inline-icon">launch</mat-icon></a>.<br>
Vid förändringar hos källan kan den här appen sluta att fungera.</p>
<!-- <p><a href="https://www.svt.se/text-tv/711" target="_blank">Information om utgivare<mat-icon class="inline-icon">launch</mat-icon></a></p> -->
<p>Utvecklare: <a href="mailto://vonlegohufvud@gmail.com" target="_blank">von Legohufvud<mat-icon class="inline-icon">mail</mat-icon></a></p>
<p>Version 2.0.1</p>
