<div [ngClass]="['app-root', envClass, orientationClass, currentFontConfig.class, viewModeClass]" (window:resize)="windowSizeChanged()">
  <!-- <button mat-icon-button class="info-action-btn" title="Info" (click)="moreMenu()"><i class="material-icons">more_horiz</i></button> -->
  <!-- <div class="app-header">
    <span>TextTv</span>
    <button mat-button class="more-action-btn" title="Uppdatera" (click)="refresh()"><i class="material-icons">refresh</i></button>
    <button mat-button class="more-action-btn" title="Mer" (click)="moreMenu()"><i class="material-icons">more_vert</i></button>
  </div> -->
  <div class="app-main">
    <app-swipe-container (pageChange)="swipe($event)" [disabled]="swipeDisabled" [animationDisabled]="swipeAnimationDisabled">
      <div #scrollWrapper class="renderer-wrapper" [class.hidden]="!init">
        <div #wrapper class="inner-renderer-wrapper double-height-titles">
          <div class="zoom-container" [ngStyle]="style">
            <app-renderer [pages]="textTvPage?.subPages" (linkClick)="onLinkClick($event)"></app-renderer>
          </div>
        </div>
      </div> 
    </app-swipe-container>
    <app-loading-overlay *ngIf="showLoadingOverlay"></app-loading-overlay>
  </div>
  <div class="app-footer">
    <app-menu-bar 
      [page]="pageNumber" 
      [direction]="menuDirection" 
      [disabledItems]="disabledMenuItems" 
      [bookmarked]="bookmarked"
      [style.visibility]="hideMenu ? 'hidden' : 'visible'"
      (pageChange)="pageChange($event)" 
      (itemClick)="menuItemClick($event)"></app-menu-bar>
  </div>
</div>
<!-- <div class="splash-overlay" *ngIf="!init"></div>  -->