html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #000;
    color: #fff;
}

body * {
    touch-action: pan-y !important;
}

@import '~@fortawesome/fontawesome-free/css/all.css';
@import 'styles/fonts.scss';