@import 'styles/variables.scss';

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: $dark-background-color;
    color: #fff;
}

body * {
    touch-action: pan-y !important;
}

@import 'styles/fonts.scss';
@import 'styles/texttv-app-theme.scss';