@import 'styles/variables.scss';

html, body {
    margin: 0;
    padding: 0;
    background: $dark-background-color;
    color: #fff;
}

body * {
    touch-action: pan-y !important;
}

@import 'styles/fonts.scss';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'styles/view-modes.scss';